<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Datapipeline Event Calendar</title>

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/tooltip.js@1.3.3/dist/umd/tooltip.min.js"></script>


</head>
<body>
  <div id="calendar"></div>
  <script>
    let calendarEl = document.getElementById("calendar");
    let calendar = new FullCalendar.Calendar(calendarEl, {
      //initialView: 'listWeek',
      timeZone: 'UTC',
      events: [
        {% for event in events %}
            {
              'allDay': true,
              'title': '{{event.event_type}}',
              'start': '{{event.dt}}',
              'extendedProps': {
                occured: '{{event.occured}}',
                occured_at: '{{event.actual_completed_at_datetime}}',
                pipeline_run_id: '{{event.pipeline_run_id}}'
              }
            },
        {% endfor %}
      ],
      eventDidMount: function(info) {
        // add green background and Tooltip if the event completed.
        // add red background if the event has not completed and its been > 2 days.
        if (info.event.extendedProps.occured === 'True') {
          info.el.style.backgroundColor = 'green';

          const tooltip = new Tooltip(info.el, {
           title: `${info.event.extendedProps.pipeline_run_id}: ${info.event.extendedProps.occured_at}`,
            placement: 'top',
            trigger: 'hover',
            container: 'body'
          });

        } else {
          currentDt = new Date();
          delta = currentDt - info.event.start;
          twoDaysMilliSeconds = (1000*60*60*24) * 2;

          if (delta >= twoDaysMilliSeconds) {
            info.el.style.backgroundColor = 'red';
          }
        }
      }
    });
    calendar.render();
  </script>
</body>
</html>